@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
  font-size: 50px;
}

button{
  background-color: white;
  color: black;
  text-align: center;
  font-size: 30px;
  border-radius: 1.5rem;
  margin: 5px;
  border: none;
  padding: 20px;
}